---
layout: container
title: Archives
---
<div class="timeline is-centered">
    <header class="timeline-header">
        <span class="tag is-medium is-primary">End</span>
    </header>
    <div class="timeline-item is-danger">
        <div class="timeline-marker is-danger is-icon  has-text-white">
            <i class="fa fa-flag"></i>
        </div>
        <div class="timeline-content">
            <p class="heading">目前共计{{ site.posts.size }}篇文章</p>
        </div>
    </div>

    {% assign year_posts_map = site.posts | group_by_exp:"post", "post.date | date: '%Y'"|sort:"name"|reverse %}
    {% for year in year_posts_map %}
    {% assign sorted_posts = year.items | reverse %}
    {% for post in sorted_posts %}
    <div class="timeline-item is-primary">
        <div class="timeline-marker is-primary"></div>
        <div class="timeline-content">
            <p class="heading">{{ post.date| date: "%Y.%m.%d" }}</p>
            <p><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
        </div>
    </div>
    {% endfor %}
    <header class="timeline-header">
        <span class="tag is-primary">{{ year.name }}</span>
    </header>
    {% endfor %}
    <div class="timeline-item is-danger">
        <div class="timeline-marker is-danger is-icon  has-text-white">
            <i class="fa fa-flag"></i>
        </div>
        <div class="timeline-content">
            <p class="heading">总得留下点什么了</p>
        </div>
    </div>
    <header class="timeline-header">
        <span class="tag is-medium is-primary">Start</span>
    </header>
</div>