---
layout: default
title: Categories
---
{% include category.html %}
<hr/>
<div class="tile is-ancestor">
    <div class="tile is-parent is-vertical">
        {% for category in site.categories %}
        <div id="{{ category[0] }}" class="tile is-child box">
            <p class="title">{{ category[0] }}</p>
            <hr />
            <ul>
                {% assign sorted_posts = category[1] | reverse %}
                {% for post in sorted_posts %}
                <li>{{ post.date | date: "%Y.%m.%d" }}-<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>