---
layout: default
title: Welcom to  tikq's Blog
---
<div class="columns is-multiline is-centered">
    {% for post in paginator.posts %}
    <div class="column is-full">
        <div class="has-ribbon">
            <a class="ribbon is-primary" href="{{ site.baseurl }}/categories/#{{ post.categories}}">{{post.categories}}</a>
            <article class="media box">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{ post.title }}</strong><br>
                            <span class="icon is-small">
                                <i class="far fa-calendar"></i>
                            </span>&nbsp{{ post.date | date: "%Y.%m.%d"  }}
                            {{ post.excerpt }}
                        </p>
                    </div>
                <hr/>
                    <!-- Main container -->
                    <nav class="level">
                        <!-- Left side -->
                        <div class="level-left">
                            <div class="level-item">
                                <div class="tags are-normal">
                                    {% for tag in post.tags %}
                                    <a class="tag is-rounded is-link" href="{{ site.baseurl }}/tags/#{{tag}}">{{tag}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- Right side -->
                        <div class="level-right">
                            <div class="level-item">
                                <a class="button is-small is-rounded is-outlined is-link" href="{{ site.baseurl }}{{ post.url }}">
                                    <span>Read more</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-chevron-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    </div>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
    <div class="column is-full">
        <nav class="pagination is-rounded is-small" role="navigation" aria-label="pagination">
            {% if paginator.previous_page %}
            <a class="pagination-previous" href="{{ paginator.previous_page_path | relative_url }}">Previous</a>
            {% else %}
            <a class="pagination-previous" >Previous</a>
            {% endif %}
            {% if paginator.next_page %}
            <a class="pagination-next" href="{{ paginator.next_page_path | relative_url }}">Next</a>
            {% else %}
            <a class="pagination-next" >Next</a>
            {% endif %}
            <ul class="pagination-list">
                {% assign max_page=paginator.total_pages|at_most: site.max_page %}
                {% for page in (1..max_page) %}
                    {% if page == paginator.page %}
                    <li><a class="pagination-link is-current" aria-label="Page {{ page }}" aria-current="page">{{ page }}</a></li>
                    {% elsif page == 1 %}
                    <li><a class="pagination-link" aria-label="Goto page {{ page }}" href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a></li>
                    {% else %}
                    <li><a class="pagination-link" aria-label="Goto page {{ page }}" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
    {% endif %}
</div>