<a id="search" class="button is-small is-rounded is-outlined is-link has-text-centered fixedRightTop">
        <span class="icon is-small">
                <i class="fas fa-search"></i>
        </span>
</a>

<div id="searchContainer" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
                <div class="control has-icons-left">
                        <input type="text" id="search-input" class="input is-small is-rounded has-text-white-bis has-text-weight-light manTransparent"
                                placeholder="Search the site..">
                        <span class="icon is-small is-left">
                                <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                </div>
                <ul id="results-container" class="has-text-centered has-text-light"></ul>
        </div>
        <button id="searchClose" class="modal-close is-large" aria-label="close"></button>
</div>