<!DOCTYPE html>
<html class="has-navbar-fixed-top">

{% include header.html %}

<body>
  {% include qrcode.html %}
  {% include link.html %}
  {% include search.html %}
  {% include totop.html %}
  <section class="hero is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      {% include navbar.html %}
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container autoWidth">
        <p class="title has-text-centered"> {{page.title}}</p>
        {{ content }}
        </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      {% include footer.html %}
    </div>
  </section>
</body>
</html>