---
layout: default
---
{% include toc.html %}
<div class="container">
    <nav class="level">
        <div class="level-item has-text-centered">
            <span class="icon is-small">
                <i class="far fa-calendar"></i>
            </span>&nbsp{{ page.date | date: "%Y.%m.%d" }}
        </div>
        <div class="level-item has-text-centered">
            <div class="level-item">
                <span class="icon is-small">
                    <i class="fas fa-folder"></i>
                </span>
                <a href="{{ site.baseurl }}/categories#{{ page.categories }}">&nbsp{{ page.categories }}</a>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div class="level-item">
                <span class="icon is-small">
                    <i class="fas fa-tags"></i>
                </span>&nbsp
                {% for tag in page.tags %}
                <a href="{{ site.baseurl }}/tags#{{ tag }}">{{ tag }}&nbsp</a>
                {% endfor %}
            </div>
        </div>
    </nav>
    <div class="container box">
        {{ content| split: site.excerpt_separator| last }}
        <br/><br/>
        {% include info.html %}
    </div>
    <hr />
    <!-- Main container -->
    <nav class="level">
        <!-- Left side -->
        <div class="level-left">
            <div class="level-item">
                {% if page.previous %}
                <a class="button is-small is-rounded is-outlined is-link has-text-centered" href="{{ page.previous.url | relative_url }}">
                    <span class="icon is-small">
                        <i class="fas fa-chevron-left"></i>
                    </span>&nbsp
                    {{ page.previous.title }}
                </a>
                {% else %}
                <a class="button is-small is-rounded is-outlined is-link has-text-centered">
                    <span class="icon is-small">
                        <i class="fas fa-chevron-left"></i>
                    </span>&nbsp
                </a>
                {% endif %}
            </div>
        </div>

        <!-- Right side -->
        <div class="level-right">
            <div class="level-item">
                {% if page.next %}
                <a class="button is-small is-rounded is-outlined is-link has-text-centered" href="{{ page.next.url | relative_url }}">
                    {{ page.next.title }}
                    &nbsp
                    <span class="icon is-small">
                        <i class="fas fa-chevron-right "></i>
                    </span>
                </a>
                {% else %}
                <a class="button is-small is-rounded is-outlined is-link has-text-centered">
                    <span class="icon is-small">
                        <i class="fas fa-chevron-right "></i>
                    </span>
                </a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% if site.gitalk.enable %}
    {% include comments.html %}
    {% endif %}
</div>